services:
  postgres:
    image: postgres:16-alpine
    container_name: WebsiteProject
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: Shrek
      POSTGRES_DB: VeilingWebsiteDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
